* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #333;
  user-select: none;
}
body{
  position: relative;
  background-color: var(--bg-content-color);
}
/* Ma color */
:root{
  --primary-color: #f2ba1d;
  --secondary-color: #08183a;
  --text-color: black;
  --desc-color : #bebebe;
  --name-label-color: #526069;

  --bg-content-color: #F5F7FA;
  --main-color: #FFFFFF;
  --active-color: #1814fa;
  --menu-color: #B1B1B1;
  --color-text: #343C6A;
  --list-menu-bg-color: #5D60EF;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/*SETUP CLASSES*/
.flex-box
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container
{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

.close
{
  display: none!important;
}

.fl-1
{
  flex: 1;
}

.fl-2
{
  flex: 2;
}

.fl-3
{
  flex: 3;
}

.fl-4
{
  flex: 4;
}

.fl-5
{
  flex: 5;
}

.fl-6
{
  flex: 6;
}

.fl-7
{
  flex: 7;
}

/*MAIN CONTENT*/
.main-content
{
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 100%;
  padding: 40px;
}

.main{
  width: 100%;
  height: fit-content;
  align-items: start;
}

/* SEARCHING BAR */
.head-main-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool-container {
  justify-content: start;
  padding: 12px 20px;
  width: 60%;
  height: 120px;
  border-radius: 15px;
}

.searching-bar {
  width: 100%;
  position: relative;
}
.searching-bar select{
  padding: 15px 20px;
  font-size: 1.4rem;
  border-radius: 25px;
  outline: none;
  border: none;

  background-color: var(--main-color);
}
.searching-bar select:hover{
  cursor: pointer;
}

.searching-bar input,.searching-bar option {
  padding: 15px 50px;
  font-size: 1.4rem;
  border-radius: 25px;
  outline: none;
  border: none;

  background-color: var(--main-color);

}
.searching-input{
  margin-left: 10px;
}
.searching-bar i
{
  position: absolute;
  font-size: 2rem;
  left: 33%;
  padding: 12px;
}

/* ORDER OPTIONS */
.order-option
{
  flex-direction: column;
  color: #bebebe;
  margin-left: 8px;
}

.order-option i
{
  font-size: 1.3rem;
  cursor: pointer;
  margin: 2px 0;
}

.order-option i:hover
{
  opacity: 0.7;
}

.order-option i.active
{
  color: #000000;
}

/*CONTENT TABLES*/
.overview{
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-text);

}
.content-table
{
  width: 100%;
  min-height: 460px;
  margin-top: 10px; 
  background-color: var(--main-color);
  border-radius: 25px;
  padding: 10px 40px;
  position: relative;
}
.table-row
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  flex-direction: row;
  background-color: var(--main-color);
  border-bottom: 2px solid #E6EFF5;
}

.title-row{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px 0px;
  color: #718EBF;
}
.name-col{
  font-weight: normal;
  font-size: 1.6rem;
}
.table-col
{
  font-weight: 500;
  font-size: 1.4rem;
  width: 100%;
  text-align: left;
}

.table-title
{
  font-weight: 500;
  font-size: 1.6rem;
}

.table-title.flex-box
{
  justify-content: left;
  text-wrap: nowrap;
}

.content-table-head:not(.table-title) {
  text-align: left;
}

/* TABLES CONFIGURE*/
.table-config
{
  padding: 15px 5px;
  border-radius: 10px;
  width: 12%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: var(--active-color);
  color: white;
  transition: all 0.3s ease;
  margin-left: 50px;
}

.table-config:hover
{
  transform: scale(1.1);
}

.config-btn-container {
  position: absolute;
  right: 0;
}

.config-btn-container i {
  padding: 2px;
  border-radius: 4px;
  font-size: 1.6rem;
  color: white; 
  margin-right: 8px;
  cursor: pointer;
}

.config-btn-container i.bx-x{
  background-color: red;
}

.config-btn-container i.bxs-edit-alt{
  background-color: blue;
}

/*MODAL*/
.config-modal-container
{
  z-index: 2;
}

.config-modal
{
  flex-direction: column;
  width: 70%;
  padding: 28px 24px;
  position: relative;
  height: 95%;
  justify-content: space-around;
  border-radius: 30px;  
  background-color: white;
}

.modal-header
{
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.modal-body
{
  padding: 8px 0 16px 0;
  font-size: 1.6rem;
  min-height: 70%;
  justify-content: left;
}

.modal-body > select
{
  padding: 16px 8px;
  margin: 12px 0;
}

.modal-footer
{
  align-self: flex-end;
}

.config-modal input[type=radio]
{
  margin-right: 8px;
}

/* ICON NAV */
.icon-nav{
  padding-right: 4px;
}
/*FORM*/

.config-form
{
  flex-flow: wrap;
  color: var(--name-label-color);
}

.config-form select,.config-form label
{
  width: 43%;
}

.config-form input
{
  padding: 12px 15px;
  width: 70%;
  font-size: 1.6rem;
  outline: none;
  border: none;
  border: 1px solid #dfeaf2;
  border-radius: 15px
}

.config-form label
{
  display: block;
  font-size: 1.6rem;
  font-weight: 550;
}

.config-form .input-field
{
  width: 50%;
  padding: 0 12px;
  flex-direction: column;
}

.config-form .input-container
{
  width: 100%;
}

.input-container label{
  font-weight: 400;
  color: black;
}

/*ALERT BOX*/
.alert-container
{
  z-index: 3;
}

.alert-box
{
  min-height: 30%;
  width: 30%;
  background-color: azure;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}

.alert-message
{
  padding: 16px 0;
  margin-top: 8px;
  font-size: 2.2rem;
}

.alert-container .btn-container
{
  justify-content: space-evenly;
  width: 100%;
}

.cancel-btn
{
  background-color: red !important;
}

.alert-container .btn 
{
  width: 30%;
  padding: 16px 0!important;
  text-align: center;
}

/* ICON FOOTER SAVE */
.icon-footer{
  padding-right: 4px;
}

/*BUTTONS*/
.btn
{
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 1.6rem;
  background-color: var(--active-color);
  color: white;
  font-weight: bold;
  transition: all 0.3s ease;
}

.btn:hover
{
  transform: scale(1.1);
}

.btn#config-btn {
  margin-right: 72px;
  padding: 10px 30px;
}

/* FORM LOGIN*/
.bg-image{
  background: url("../Assets/Image/bg-form.jpg") center no-repeat rgba(0, 0, 0, 0.6);
  top: 0;
  width: 100%;
  height: 100vh;
  position: relative;
}
.form{
  width: 80%;
  height: 80%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  
  box-shadow: #000000 -1px 0px 20px 4px;
}
.image-form{
  width: 55%;
  height: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  
}

.form-login{
  width: 45%;
  height: 100%;
  padding: 84px;
  background-color: white;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.form-login-title{
  font-size: 3rem;
  font-weight: bold;
  color: var(--text-color);
}
.form-login-desc{
  padding-top: 4px;
  font-size: 1.3rem;
  color: rgb(118, 113, 113);
}
.form-login-user{
  padding-top: 64px;
}
.user-tittle{
  font-size: 1.3rem;
  color: var(--desc-color);
}
.username, .password{
  margin-top: 4px;
  width: 100%;
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid var(--desc-color);
  outline: none;
}
.user-password{
  margin-top: 24px;
  position: relative;
}
.btn-form{
  margin-top: 40px;
  width: 100%;
  height: 50px;
  position: relative;
}
.submit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  
  padding: 16px 64px;
  border: none;
  border-radius: 25px;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: bold;
  
}
.submit:hover{
  opacity: 0.8;
  cursor: pointer;
}

.form-message.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 12px;
}

.form-login.error input
{
  color: red!important;
  border-bottom: 2px solid #e30000;
  transform: translateY(10px);
  transition: transform .5s;
}

.form-login.error label 
{
  color: red;
}
/* show hide password */
/* icon show hide password */
#toggle-password{
  position: absolute;
  transform: translateY(100%);
  bottom: 50%;
  right: 0;
  color: var(--desc-color);
  font-size: 1.8rem;
}
#toggle-password:hover{
  cursor: pointer;
}


/* View 1 */
.view{
  width: 100%;
  height: 100vh;
  position: relative;
}
/* Header view 1 */
.header{
  width: 100%;
  height: 12%;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #E6EFF5;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.header-left{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 16%;
  height: 100%;
  position: relative;
  
}
.img-logo{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.name-group{
  font-size: 1.7rem;
  font-weight: bold;
  width: 50%;
  height: 100%;
}
.name-text{
  height: 100%;
  width: 100%;
  color: var(--color-text);
  font-size: 1.8rem;
  display: flex;
  justify-content: start;
  align-items: center;

}
.header-right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  
}
.avatar-user{
  margin-left: 25rem;
  width: 20.3%;
  height: 100%;
  position: relative;
}
.img-avatar{
  width: 40%;
  height: 50%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}
.name-user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  position: relative;
}
.name-user-text{
  font-size: 1.8rem;
  width: 50%;
  font-weight: bold;
  color: var(--color-text);
}
.icon-arrow-down{
  font-size: 2.5rem;
  padding: 13px;
  border-radius: 25px;
  background-color: var(--bg-content-color);
  color: #718EBF;
  user-select: none;
}
.icon-arrow-down:hover{
  cursor: pointer;
}
.setting-modal:hover{
  cursor: pointer; 
}
.arrow-up:hover{
  cursor: pointer; 
}
/* Drop menu header */
ul{
  list-style: none;

}

.setting-modal{
  width: 200px;
  height: 150px;
  position: absolute;
  top: 65px;
  left: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.3) 2px 4px 11px 6px;
  flex-direction: column;
  z-index: 10;
}

.setting-modal i{
  font-size: 2.8rem;
}

.item-drop-menu{
  display: flex;
  align-items: center;
  color: black;
  width: 100%;
  height: 50%;
  padding: 0 20px;
}
.item-drop-menu a{
  
  text-decoration: none;
}
.item-drop-menu:hover{
  background-color: #F6F6F6;
  color: var(--secondary-color);
  cursor: pointer;
}

.icon-drop-menu{
  font-size: 1rem;
  color: var(--menu-color);
}
.setting-item{
  padding-left: 15px;
  font-size: 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins",sans-serif;
  color: var(--color-text);
}


/* icon notification */
.notifi{
  width: 51px;
  height: 51px;
  border-radius: 35px;
  background-color: var(--bg-content-color);
  position: relative;
}
.icon-notifi{
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FE5C73;
}

/* Sidebar */
.sidebar{
  width: 5%;
  min-height: 100vh;
  background-color: var(--main-color);
  color: white;
  transition: all 0.5s ease;
  overflow: scroll;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar{
  -ms-overflow-style: none;  
  scrollbar-width: none; 
  justify-content: flex-start;
  flex-direction: column;
}
/* Head sidebar: name and icon menu */
.head-sidebar{
  width: 100%;

  margin-top: 25px;
  padding: 20px;
}

.name-sidebar{
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: var(--active-color);
  color: var(--main-color);
  font-weight: bold;
  padding: 12px 24px;
}


/* Content sidebar: Student Giaovien TKB Ketqua */

/* Menu sidebar */
.sidebar-menu{
  height: 100%;
  position: relative;
  padding: 8px 12px;
}

.icon-menu{
  transition: all 0.3 ease;
  color: var(--color-text);
  font-size: 2.7rem;

}
.icon-menu:hover{
  cursor: pointer;
}
.icon-sidebar{
  color: var(--menu-color);
  width: 10%;
  font-size: 2.6rem;
  transition: all 0.3s ease;
}

.content-sidebar{
  width: 100%;
  height: 70%;
  padding: 0 0 0 30px;
  transition: all 0.3s ease;
}

.list-sidebar{
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  margin-top: 24px;
  position: relative;
  border-radius: 15px;
}
.list-sidebar.active::before{
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--main-color);
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: translateY(-100%);
  box-shadow: 10px 10px 0 0 var(--bg-content-color);
}
.list-sidebar.active::after{
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: var(--main-color);
  right: 0;
  bottom: 0;
  border-radius: 50%;
  transform: translateY(100%);
  box-shadow: 10px -10px 0 0 var(--bg-content-color);
}




.list-sidebar.active{
  background-color: var(--bg-content-color);
}
.list-sidebar.active, .list-sidebar.active i, .list-sidebar.active .name-sidebar-items
{
  color: var(--active-color);
}
.list-sidebar.active .name-sidebar-items{
  font-weight: bold;
  color: var(--active-color);
}

.about{
  font-size: 1.4rem;
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  text-decoration: none;
  padding: 24px 8px;
}
/* .about:hover, .about:hover .name-sidebar-items{
  background-color: var(--primary-color);
  color: var(--secondary-color);
} */

.list-sidebar:not(.active):hover, .list-sidebar:hover i, .list-sidebar:hover .name-sidebar-items{
  cursor: pointer;
  color: var(--active-color);

}

.name-sidebar-items{
  width: 80%;
  color: var(--menu-color);
  font-size: 1.7rem;
  font-weight: 400;
  margin-left: 40px;
  transition: all 0.3s ease;
}

.sidebar-width{
  width: 20%;
  transition: all 0.5s ease;
}

/*FORM MESSAGE*/

.config-form .message
{
  margin: 8px 0;
  width: 70%;
  align-self: flex-end;
  font-size: 1.2rem;
  text-wrap: pretty;
}

.config-form .error
{
  color: red;
  border-color: red;
}

/* LOADING EFFECT */
.loading-container
{
  background-color: rgba(1, 1, 1, 0.3);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.loading
{
  animation: rotate linear 6s infinite;
  transform: rotate(0deg);
}

.loading i
{
  font-size: 8rem;
  font-weight: 900;
}

@keyframes rotate {
  from
  {
    transform: rotate(0deg);
  }
  to
  {
    transform: rotate(360deg);
  }
}